<h1>Weather Lookup</h1>

<form>

<h2>Look up the weather for your location!</h2>
 <label for="lat">Latitude</label>
  <input type="text" id="lat" name="latitude" placeholder="Enter Latitude">

  <label for="lng">Longitude</label>
  <input type="text" id="lng" name="longitude" placeholder="Enter Longitude">
  <button>Submit</button>

</form>


<dl>
  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>

  <dt>Current temperature:</dt>
  <dd><%= @temperature %></dd>

  <dt>Summary for the hour:</dt>
  <dd><%= @minutely_summary %></dd>

  <dt>Summary for the day:</dt>
  <dd><%= @hourly_summary %></dd>

  <dt>Summary for the week:</dt>
  <dd><%= @daily_summary %></dd>
</dl>
